header{
    
    background-color:#002E6D; width: 100%; height: 100%;

}
        
        .images{
            float: left;
            position: relative;
            margin: 10px 15px 15px 10px;
        }

         body {
               font-family:sans-serif;
               }

         h1 {text-align:center;
             }    

         header p {
                   font-size : 1.5em;
                   font-weight : bold;}

         header p span {font-style:italic;}

         #special {text-decoration: underline;}
footer{background-color: #0054A6; height: 20px;}
